<h1>Listing pets</h1>
 <% @pets.each do |pet| %> 

    <div class="bloco">
      <div class="titulo">
        <h1>Breed</h1>
        <p><%= pet.breed %></p>
       </div>
       <div class="titulo">
        <h1>Size</h1>
        <p><%= pet.size %></p>
      </div>
      <%= link_to 'Show', pet_path(pet) %>
      <%= link_to 'Edit', edit_pet_path(pet) %>
      <%= link_to 'Destroy', pet_path(pet),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
    </div>

  <% end %>

  <p>Have you found a lost pet? <%= link_to 'Post here', new_pet_path %> </p>

