<div class="bloco">
  <div class="titulo">
    <h2>Tutor:</h2>
    <p><%= @pet.tutor %></p>
  </div>
    <div class="titulo">
    <h2>Phone:</h2>
    <p><%= @pet.phone %></p>
  </div>
    <div class="titulo">
    <h2>Breed:</h2>
    <p><%= @pet.breed %></p>
  </div>
   <div class="titulo">
    <h2>Size:</h2>
    <p><%= @pet.size %></p>
  </div>
   <div class="titulo">
    <h2>Description:</h2>
    <p><%= @pet.description %></p>
  </div>
</div>
<%= link_to 'Back', pets_path %>